html, body, #__nuxt {
  height: 100%;
}

.default-layout {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.main-content {
  display: flex;
  flex-direction: column;
  /*height: 100%;*/
  /*width: 100%;*/
  flex: 1;
  overflow: auto;
  background-color: #281E1C;
  color: #ffffff;
}
.main-content > section {
  display: block;
  flex: 1;
  padding: 20px;
  height: 100%;
  /*border: 1px solid black;*/
  overflow: auto;
}
.main-content > header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20px;
  /*border: 1px solid black;*/
  padding: 20px;
  overflow: hidden;
}
.badge {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  /*line-height: 20px;*/
}
.warning {
  background-color: #D03451;
  color: #281E1C;
}
.hidden {
  visibility: hidden;
}
